body {
	font-family: monospace;
	font-size: 20px;
	line-height: 1.5;
	width: 80%;
	max-width: 1050px;
	background-color: white;
	color: #111;
	margin: 0 auto;
}

h1, h2 {
	margin-left: 0px;
	padding-left: 0px;
	font-weight: normal;
}

a {
	color: teal;
	text-decoration: none;
}

a:hover {
	border-bottom: 3px solid teal;
}