/* :root {
	--code-bg: #abb2bf;
	--code-fg: #282c34;
} */
:root {
	--code-bg: #ddd;
	--code-fg: black;
}
body {
	font-family: 'crimson text', serif;
	font-size: 20px;
	line-height: 1.5;
	width: 80%;
	max-width: 1050px;
	margin: 0 auto;
}

.index {
	margin-top: 100px;
	font-size: 20px;
}
body:last-child { margin-bottom: 100px }

.index h1 { font-size: 1.8em }
.index h2 { font-size: 1.5em }
.projects { margin-top: 50px }
.projects h2 { margin-bottom: 10px }
.projects .link { font-size: 20px; }
.projects .branch { font-family: monospace }
.project header { margin: 0 }
.project p { margin: 0 }
.project h2 { font-weight: normal; margin: 0; }

code:not(.sourceCode) {
	padding: 1px 5px;
	border-radius: 1px;
	background-color: var(--code-bg);
	color: var(--code-fg);
}

.title {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0px;
}

.date {
	margin-top: 0px;
}

header {
	margin-bottom: 50px;
}

h1, h2 {
	margin-left: 0px;
	padding-left: 0px;
	font-weight: normal;
}

a {
	color: teal;
	text-decoration: none;
}

a code:not(.sourceCode) {
	color: teal;
	background: none;
}

a:hover {
	border-bottom: 3px solid teal;
}

ul {
	padding: 2px;
}

ul li {
	list-style: none;
}

.anchorlink {
	margin-left: 15px;
	color: rgb(210, 210, 210);
	text-decoration: none;
	/* margin: 0;
	font-size: 1.5em;
	padding: 0;
	text-decoration: none;*/
}

.anchorlink:hover {
	color: black;
	border-bottom: none;
}

