<!DOCTYPE html>
<html>
	{{>head }}
	<body class=index>
		<h1 data-noanchor>Hey, I'm Frank.</h1>
		<p>I'm a CS student and currently a backend intern @ Shopify.</p>
		{{#if posts.length}}
		<p>Sometimes I write stuff here.</p>
		{{/if}}

		<section class=projects>
		<h2>projects</h1>
		<section class=project>
			<header>
				<h2>
					<span aria-hidden="true">+</span> kiwi
				</h2>
				<span class="link"><a href="https://github.com/frankpf/kiwi">github.com/frankpf/kiwi</a></span>
			</header>
			<p>Kiwi is a small dynamically typed programming language that BarelyWorks™.</p>
			<p>Check the <a href="https://github.com/frankpf/kiwi/tree/vm"><span class="branch">vm</span> branch</a> for the latest version.</p>
		</section>
		<section class=project>
			<header>
				<h2>
					<span aria-hidden="true">+</span> kiwi playground
				</h2>
				<span class="link"><a href="https://kiwi.frankpf.com">kiwi.frankpf.com</a></span>
			</header>
			<p>Kiwi barely works but it already has a playground :) The user input is executed in a docker sandbox.</p>
			<p>You can read the code <a href="https://github.com/frankpf/kiwi-playground">here</a>.</p>
		</section>
		<section class=project>
			<header>
				<h2>
					<span aria-hidden="true">+</span> undbg
				</h2>
				<span class="link"><a href="https://github.com/frankpf/undbg">github.com/frankpf/undbg</a></span>
			</header>
			<p>a debugger written in Go with support for reverse execution</p>
		</section>
		</section>


		{{#if posts.length}}
		<h2>log</h1>
		{{#each posts}}
		<ul>
			<li>
				<a href="{{this.href}}">{{this.metadata.title}}</a> -
				<span class=date>{{this.metadata.date}}</span>
			</li>
		</ul>
		{{/each}}
		{{/if}}
	</body>
</html>
