<!DOCTYPE html>
<html lang=en>
{{>head }}

<body class=index>
	<h1 data-noanchor>Hi there 👋 I'm Frank!</h1>
	<p>I'm a Security Engineer at <a href="https://instacart.com">Instacart</a>.</p>
	<p>In the past, I've worked as a software developer intern at <a href="https://shopify.com">Shopify</a> and at <a
			href="https://getmore.com.br/">GETMORE</a>.</p>
	{{#if posts.length}}
	<p>Sometimes I write stuff here.</p>
	{{/if}}

	<section class=projects>
		<h2>projects</h1>
			<section class=project>
				<header>
					<h2>
						<span aria-hidden="true">+</span> kiwi
					</h2>
					<span class="link"><a href="https://github.com/frankpf/kiwi">github.com/frankpf/kiwi</a></span>
				</header>
				<p>Kiwi is a small dynamically typed programming language.</p>
				<p>It's far from done, but it's already got variables, loops and functions! Check it out on the <a
						href="https://kiwi.frankpf.com">Kiwi playground</a>.</p>
				<p>The interpreter uses a stack-based design and interprets the bytecode generated from the frontend.
				</p>
				<p> Everything from the parser to the VM is hand-written.</p>
			</section>
			<section class=project>
				<header>
					<h2>
						<span aria-hidden="true">+</span> undbg
					</h2>
					<span class="link"><a href="https://github.com/frankpf/undbg">github.com/frankpf/undbg</a></span>
				</header>
				<p>undbg is a debugger written in Go with support for reverse execution. While running a program, it
					saves all machine state, allowing the user to go back and debug in the past.</p>
			</section>
			<section class=project>
				<header>
					<h2>
						<span aria-hidden="true">+</span> kiwi playground
					</h2>
					<span class="link"><a href="https://kiwi.frankpf.com">kiwi.frankpf.com</a></span>
				</header>
				<p>Kiwi barely works but it already has a playground :) The user input is executed in a docker sandbox.
				</p>
				<p>You can read the code <a href="https://github.com/frankpf/kiwi-playground">here</a>.</p>
			</section>
	</section>


	{{#if posts.length}}
	<h2>log</h1>
		{{#each posts}}
		<ul>
			<li>
				<a href="{{this.href}}">{{this.metadata.title}}</a> -
				<span class=date>{{this.metadata.date}}</span>
			</li>
		</ul>
		{{/each}}
		{{/if}}
</body>

</html>