<!DOCTYPE html>
<html lang=en>
	{{>head }}
	<body>
		<header>
			<h1 data-noanchor class="title">{{post.metadata.title}}</h1>
			<p class="date">{{post.metadata.date}}</p>
		</header>
		{{{post.html}}}
	</body>
</html>
